<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>   <!--サイドバーの部分テンプレートを読み込み-->
  </div>
  <div class="chat">
    <%= render "main_chat" %>  <!--チャット画面の部分テンプレートを読み込み-->
  </div>
</div>